<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="width: 50%; text-align: center;">
        <p>Puedes encontrar los tests usando la consola [F12]!</p>

        <button style="margin: 10px auto; display: block;" (click)="clienteTests()">Cliente - Tests</button>
        <button style="margin: 10px auto; display: block;" (click)="pacienteTests()">Paciente - Tests</button>
        <button style="margin: 10px auto; display: block;" (click)="veterinarioTests()">Veterinario - Tests</button>
        <button style="margin: 10px auto; display: block;" (click)="administradorTests()">Administrador - Tests</button>
        <button style="margin: 10px auto; display: block;" (click)="drogatests()">Droga - Tests</button>
        <button style="margin: 10px auto; display: block;" (click)="tratamientoTests()">Tratamiento - Tests</button>
    </div>
</div>
