<div>
    <div class="wrapper_footerStuckToBottom">
        <div class="content_footerStuckToBottom">
            <div class="center-container paciente-basicInfo">
                <h1 class="pet-title" style="margin-top: 100px;">Tratamiento: <span class="pet-name">{{paciente?.nombre}}</span></h1>
                <table class="styled-table" border="1">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de Inicio</th>
                        <th>Droga</th>
                        <th>Veterinario</th>
                        <th>Acciones</th> <!-- Added a header for the actions column -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tratamiento of tratamientos">
                        <td class="styled-table_tratamiento-id">{{tratamiento.id}}</td>
                        <td>{{tratamiento.fechaDeInicio}}</td>
                        <td>{{tratamiento.droga.nombre}}</td>
                        <td>{{tratamiento.veterinario.nombre}}</td>
                        <td class="btnHorizontal">
                            <div class="button-container">
                                <a class="action-link text-danger" href="javascript:void(0);" (click)="eliminarTratamiento(tratamiento)"><i class="fas fa-trash-alt"></i> Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
