<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CatCare</title>

    <!-- Css principal  -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Scroll principal  -->
    <link href="/css/swiper-bundle.min.css" rel="stylesheet">

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">


    <!-- Iconos  -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/CatCareIcon.png">


    <!-- Css Login  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link href="/css/styleLogin.css" rel="stylesheet"/>


</head>

<!-- Barra de navegacion  -->

<body>
<header>
    <nav class="navegacion">
        <img src="/images/CatCareLogo.png" class="logo" width=auto height="70" alt="Logo CatCare">
        <ul class="navegacion-indice">
            <li><a class="nav-link nav-link-ltr" href="#Inicio" style="color: #ffffff">INICIO</a></li>
            <li><a class="nav-link nav-link-ltr" href="#Servicios" style="color: #ffffff">SERVICIOS</a></li>
            <li><a class="nav-link nav-link-ltr" href="#Nosotros" style="color: #ffffff">NOSOTROS</a></li>
            <li><a class="nav-link nav-link-ltr" href="#AcercaDe" style="color: #ffffff">ACERCA DE</a></li>
            <li><a class="nav-link nav-link-ltr login" href="#" style="color: #ce4204">LOG IN </a></li>
        </ul>
    </nav>
</header>

<!-- Primera seccion -- Inicio  -->
<section id="Inicio" class="inicio">
    <div class="swiper bg-slider">
        <div class="swiper-wrapper">
            <article class="swiper-slide">
                <img src="https://cdn.pixabay.com/photo/2018/06/03/08/57/cat-3449999_1280.jpg" alt="Gato 1">
                <div class="text-content">
                    <h2 class="title">Optimiza la comunicación y colaboración</h2>
                    <p>Nuestra página web no sólo se trata de gestionar datos, sino también de mejorar la comunicación
                        entre los miembros del equipo de la clínica veterinaria. Con herramientas de mensajería interna,
                        podrás mantener conversaciones privadas sobre casos específicos, compartir información relevante
                        y colaborar de manera efectiva. Esto garantiza que todos los involucrados estén en la misma
                        página cuando se trata del bienestar de las mascotas bajo tu cuidado.
                    </p>
                    <button class="read-btn">Conoce más
                    </button>
                </div>
            </article>
            <article class="swiper-slide">
                <img src="https://cdn.pixabay.com/photo/2015/06/19/14/20/cat-814952_1280.jpg" alt="Gato 2">
                <div class="text-content">
                    <h2 class="title">Acceso rápido y seguro a la información</h2>
                    <p>Con la seguridad de la información en mente, hemos implementado medidas robustas para proteger
                        los datos de tus pacientes. Accede a la plataforma desde cualquier dispositivo con conexión a
                        internet, ya sea desde tu computadora de escritorio, tableta o teléfono móvil. Esto significa
                        que podrás consultar datos importantes incluso cuando te encuentres fuera de la clínica, lo cual
                        resulta especialmente útil en situaciones de emergencia.</p>
                    <button class="read-btn">Conoce más
                    </button>
                </div>
            </article>
            <article class="swiper-slide">
                <img src="https://cdn.pixabay.com/photo/2016/06/14/00/14/cat-1455468_1280.jpg" alt="Gato 3">
                <div class="text-content">
                    <h2 class="title"> Gestiona tus pacientes de manera sencilla</h2>
                    <p>Nuestra plataforma en línea te permite llevar un registro completo de tus pacientes de manera
                        sencilla y ordenada. Desde fichas médicas individuales hasta historiales de tratamientos y
                        diagnósticos previos, todo estará al alcance de tus manos. Olvida los engorrosos papeleos y
                        archivos físicos; con unos pocos clics, podrás agregar nueva información, actualizar estados de
                        salud y programar recordatorios para futuras consultas.</p>
                    <button class="read-btn">Conoce más
                    </button>
                </div>
            </article>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<!-- Scripts  Incio-->
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/script.js"></script>

<!-- Segunda seccion -- Servicios  -->
<section id="Servicios" class="seccion-general">
    <div class="footer-seccion">
        <div class="section-header">
            <h2 class="seccion-titulo">Servicios</h2>
            <h3 class="seccion-subtitulo">Descubre Nuestros <span>Servicios</span></h3>
            <p class="seccion-texto">Nuestra Plataforma web para clínicas veterinarias ofrece una solución completa y
                eficiente para optimizar la gestión de su centro. A través de nuestra plataforma, usted podrá tener un
                control exhaustivo sobre sus pacientes. Además, facilitamos la supervisión del personal, agilizando
                tareas de asignación y seguimiento. </p>
        </div>
        <div class="contenedor-principal">
            <div class="sub-contenedor" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="titulo-sub-contenedor"><a href="" class="titulo-sub-contenedor-link">Cuidado
                    Personalizado</a></h4>
                <p class="texto-sub-contenedor">Seguimiento meticuloso de las historias de
                    salud de sus adorados amigos felinos. </p>
                <img class="rounded-image"
                     src="https://veterinariadavinci.com.br/blog/wp-content/uploads/2017/07/como-escolher-um-veterinario-de-confianca-para-seu-bichinho.jpg"
                     alt="Servicios Imagen" style="max-width: 100%; height: auto;">
            </div>
            <div class="sub-contenedor" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="titulo-sub-contenedor"><a href="" class="titulo-sub-contenedor-link">Control Practico</a>
                </h4>
                <p class="texto-sub-contenedor">Mantenga un control minucioso de los tratamientos y medicamentos
                    administrados
                    a sus pacientes.</p>
                <img class="rounded-image"
                     src="https://cdn.euroinnova.edu.es/img/subidasEditor/fotolia_72528520_subscription_monthly_m-1612774711.webp"
                     alt="Servicios Imagen" style="max-width: 100%; height: auto;">
            </div>
            <div class="sub-contenedor" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="titulo-sub-contenedor"><a href="" class="titulo-sub-contenedor-link">Gestión Eficiente</a>
                </h4>
                <p class="texto-sub-contenedor">Supervise y coordine a su equipo de profesionales para un funcionamiento
                    óptimo
                    de su clínica.</p>
                <img class="rounded-image"
                     src="https://s3.nuvemvet.com/blog/wp-content/uploads/2021/11/25111347/pesquisa-e1637849657407.jpg"
                     alt="Servicios Imagen" style="max-width: 100%; height: auto;">
            </div>
            <div class="sub-contenedor" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="titulo-sub-contenedor"><a href="" class="titulo-sub-contenedor-link">Modernización y
                    Sostenibilidad</a></h4>
                <p class="texto-sub-contenedor">Diga adiós al registro manual y dé la bienvenida a la era digital.</p>
                <img class="rounded-image"
                     src="https://img.freepik.com/fotos-premium/equipo-especialistas-medicos-mirando-pantalla-computadora-hablando-sobre-sistema-atencion-medica-tratamiento-fuera-horario-doctor-sosteniendo-tableta-obtener-informacion-mientras-enfermera-apunta-al-monitor_482257-31859.jpg"
                     alt="Servicios Imagen" style="max-width: 100%; height: auto;">

            </div>
            <div class="sub-contenedor" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="titulo-sub-contenedor"><a href="" class="titulo-sub-contenedor-link">Información Instantánea
                    y
                    Actualizada</a>
                </h4>
                <p class="texto-sub-contenedor">Acceda a los registros de sus pacientes en tiempo real.</p>
                <img class="rounded-image"
                     src="https://gestiondeclinicasveterinarias.com/wp-content/uploads/2016/03/software-para-gestion-citas-veterinario.jpg"
                     alt="Servicios Imagen" style="max-width: 100%; height: auto;">

            </div>
            <div class="sub-contenedor" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="titulo-sub-contenedor"><a href="" class="titulo-sub-contenedor-link">Protección Total de los
                    Datos</a></h4>
                <p class="texto-sub-contenedor">La privacidad de la información de sus pacientes es una
                    prioridad.</p>
                <img class="rounded-image"
                     src="https://blog.unicep.edu.br/wp-content/uploads/2021/10/o-que-faz-um-veterinario-935x614.jpg"
                     alt="Servicios Imagen" style="max-width: 100%; height: auto;">

            </div>
        </div>
    </div>
</section>

<!-- Tercera Seccion -- Nosotros  -->
<section id="Nosotros" class="equipo">
    <div class="footer-seccion">
        <h2 class="equipo-titulo">Nuestro Equipo de trabajo</h2>
        <section class="equipo-caracteristicas">
            <div class="perfil-caracteristica" data-aos="zoom-in" data-aos-delay="100">
                <div class="perfil-equipo-foto">
                    <img class="imgNoBottomBorder" src="/images/perfiles/luis-bravo.png" alt="Luis Bravo">
                </div>
                <div class="caracteristica-hover">
                    <p class="equipo-texto">Luis Bravo <br> <br>Backend Developer</p>
                </div>
            </div>

            <div class="perfil-caracteristica" data-aos="zoom-in" data-aos-delay="200">
                <div class="perfil-equipo-foto">
                    <img src="/images/perfiles/ana-ortegon.png" alt="Ana Ortegon">
                </div>
                <div class="caracteristica-hover">
                    <p class="equipo-texto">Ana Ortegon <br> <br>Product Manager</p>
                </div>
            </div>

            <div class="perfil-caracteristica" data-aos="zoom-in" data-aos-delay="300">
                <div class="perfil-equipo-foto">
                    <img src="/images/perfiles/felipe-garcia.png" alt="Felipe Garcia">
                </div>
                <div class="caracteristica-hover">
                    <p class="equipo-texto">Felipe Garcia <br> <br>Frontend Developer</p>
                </div>
            </div>
        </section>
    </div>
</section>


<!-- Ultima seccion -- Pie de Pagina(footer)  -->

<footer class="footer">
    <div class="footer-seccion">
        <div class="seccion-vertical">
            <div class="footer-subsecciones">
                <h4>Compañía</h4>
                <ul>
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="#">Nuestros Servicios</a></li>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Programa de Suscriptores</a></li>
                </ul>
            </div>
            <div class="footer-subsecciones">
                <h4>Obtener ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">PQR's</a></li>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">Proteccion de Datos</a></li>
                </ul>
            </div>
            <div class="footer-subsecciones">
                <h4>Productos</h4>
                <ul>
                    <li><a href="#">Miembros plus</a></li>
                    <li><a href="#">Cobertura</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-subsecciones">
                <h4>Síguenos</h4>
                <div class="redes-sociales">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Hidden Login   -->

<table align="center">
    <div class="blur-background_alwaysOn">
        <div class="login-form_alwaysOn">

            <span class="close-login-form redirectToLanding">
            <i class="fas fa-times" style="font-size: 24px; color: red; cursor: pointer; border: 15px"></i>
            </span>


            <h2>Lo sentimos, no ha sido posible encontrar su usuario.</h2>
        </div>
    </div>
</table>

<!-- Login script   -->
<script>
    // Redirect to landing in login error form
    document.addEventListener("DOMContentLoaded", function () {
        var redirectToLandingButtons = document.querySelectorAll(".redirectToLanding");

        redirectToLandingButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                window.location.href = "http://localhost:8090/catcare/landing";
            });
        });
    });
</script>

</body>

</html>