/*---------------------------------------------variables css--------------------------------------------- */
:root {

    --text-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0px 5px 25px rgba(0 0 0/ 20%);

}

/*---------------------------------------------css principal---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
}

/*---------------------------------------------barra vertical scroll--------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
    background: rgba(235, 255, 235, 0.76);
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: rgba(35, 89, 28, 0.82);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: #5ca656;
}


/*---------------------------------------------Header y barra de navegacion-------------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(5rem + 1rem);
    z-index: 999;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky {
    height: calc(3.5rem + 1rem);
    background-color: rgba(50, 124, 51, 0.44);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(50, 124, 51, 0.44);
}

header .navegacion {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    transition: 0.5s ease;
}

.navegacion .logo {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #67b207;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    margin-left: 90px;
}

header .navegacion-indice {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    margin: 1rem 1rem 0 0;
}

.navegacion-indice a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    padding: 0 15px 0 15px;
    transition: 0.5s ease;
}

.navegacion-indice a:hover {
    font-weight: bold;
    color: #1a3d01;
    transition: 0.5s ease;
}

/*---------------------------------------------Primera Seccion-------------------------------------------*/

.inicio {
    min-height: 100vh;
}

.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    max-height: 100vh;
    padding: 0 2%;
    box-sizing: border-box;
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    box-sizing: border-box;
    padding: 0 2%;
    max-width: 1000px;
    width: 100%;
    color: #FFFFFFFF;
    position: absolute;
    transition: 0.5s ease;
    margin: 0 auto;
    top: 25%;
}

.swiper-slide .text-content .title {
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    margin-left: 10%;
    opacity: 0;
}

.swiper-slide-active .text-content .title {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s ease;
    transition-delay: 0.5s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content p {
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    margin-left: 10%;
}

.swiper-slide .text-content .read-btn {
    border: none;
    outline: none;
    background: #5D9B15D1;
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 10%;
}

.swiper-slide .text-content .read-btn:hover {
    background: #67b207;
}

.text-content {
    margin-left: 15%;
}

/*---------------------------------------------seguda  Seccion-------------------------------------------*/

.seccion-general {
    background-color: #f7f7f7;
    padding: 80px 0;
    text-align: center;
}

.seccion-titulo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    padding: 80px 0;
    text-align: center;
}

.seccion-subtitulo {
    font-size: 24px;
    font-weight: 400;
    color: #555;
    margin-bottom: 40px;
}

.seccion-subtitulo span {
    font-size: 24px;
    font-weight: bold;
    color: #5D9B15D1;
    margin-bottom: 40px;
}

.seccion-texto {
    font-size: 18px;
    color: #888;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sub-contenedor {
    flex: 0 0 calc(33.3333% - 20px);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px 0;
}

.sub-contenedor:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.titulo-sub-contenedor {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.texto-sub-contenedor {
    font-size: 16px;
    color: #666;
}

.titulo-sub-contenedor-link {
    color: #67b207;
    text-decoration: none;
    transition: color 0.3s;
}

.titulo-sub-contenedor-link:hover {
    color: #4a8908;
}

@media (max-width: 767px) {
    .contenedor-principal {
        flex-direction: column;
        align-items: center;
    }

    .sub-contenedor {
        width: 100%;
        margin: 10px 0;
    }
}

/*---------------------------------------------Tercera  Seccion-------------------------------------------*/
section.equipo {
    background-color: #f7f7f7;
    padding: 80px 0;
    text-align: center;
}

.equipo-titulo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.equipo-caracteristicas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.perfil-caracteristica {
    flex: 0 0 calc(33.3333% - 20px);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px 0;
    position: relative;
}

.perfil-caracteristica:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.perfil-equipo-foto img {
    max-width: 100%;
    height: auto;
}

.caracteristica-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.perfil-caracteristica:hover .caracteristica-hover {
    opacity: 1;
    border-radius: 10px;

}

.equipo-texto {
    font-size: 16px;
    margin-top: 10px;
}


/*---------------------------------------------footer-------------------------------------------*/

.footer-seccion {
    max-width: 1170px;
    margin: auto;
}

.seccion-vertical {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: rgba(35, 89, 28, 0.82);
    padding: 70px 0;

}

.footer-subsecciones {
    width: 25%;
    padding: 0 15px;
}

.footer-subsecciones h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-subsecciones h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #b8d7aa;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-subsecciones ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-subsecciones ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-subsecciones ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-subsecciones .redes-sociales a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-subsecciones .redes-sociales a:hover {
    color: #24262b;
    background-color: #ffffff;
}


@media (max-width: 767px) {
    .footer-subsecciones {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-subsecciones {
        width: 100%;
    }
}


/*--------------------------------------------- Barra Desplazable --------------------------------------------- */

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    opacity: 0.80;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 400ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #00aa39;
    width: 0px;
    left: 50%;
    /* Center the line */
    transform: translateX(-50%);
    /* Move the line to the left by half its width to center it */
    bottom: -5px;
}

.nav-link:hover::before {
    width: 80%;
}

.nav-link-fade-up::before {
    width: 80%;
    bottom: 5px;
    opacity: 0;
}

.nav-link-fade-up:hover::before {
    bottom: 5px;
    opacity: 1;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 80%;
    bottom: 5px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}


/*--------------------------------------------- Bordes de las imágenes  --------------------------------------------- */

.rounded-image {
    border-radius: 30px;
    border: 1px solid #ccc;
    /* Border width and color */
    margin-top: 10px;
}


/*--------------------------------------------- Contenido de mascotas (Tablas)  --------------------------------------------- */

.center-container {
    text-align: center;
}

.green-link {
    color: rgba(35, 89, 28, 0.82);
    text-decoration: none;
}

.paciente-basicInfo {
    margin-top: 30px;
    margin-bottom: 100px;
}

.styled-table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.styled-table td {
    border-top: 1px solid #f0f0f0;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease-in-out;
}

.styled-table_pet-name {
    color: rgba(35, 89, 28, 0.82);
}

.pet-title {
    font-size: 40px;
    color: #333;
    margin-bottom: 35px;
}

.pet-name {
    font-size: 32px;
    color: rgba(35, 89, 28, 0.82);
}


/*--------------------------------------------- Modificaciones del cuerpo para paginas pequeñas donde el footer debe de pegarse al fondo asi no haya contenido, y el header es estatico.  --------------------------------------------- */

.wrapper_footerStuckToBottom {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
}

.content_footerStuckToBottom {
    flex: 1;
}

.static-header {
    height: calc(3.5rem + 1rem);
    background-color: rgba(50, 124, 51, 0.44);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(50, 124, 51, 0.44);
}



/*--------------------------------------------- Barra Lateral Paginas Futuras----------------- */

#body-barra-lateral {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


.header-barra-lateral {
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    justify-content: right;
    /* Alinea los elementos a los extremos */
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}


.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}


.menu__side {
    width: 80px;
    height: 100%;
    background: rgba(35, 89, 28, 0.82);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid rgba(35, 89, 28, 0);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar {
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i {
    width: 20px;
    margin-right: 20px;
}

.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
    text-decoration: none;
}

.options__menu a:hover {
    color: white;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

a.selected {
    color: #fff;
}

.selected:before {
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}


@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}




/*---------------------------------------------  Estilos para el formulario de crear ---------------------------------- */

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #555;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s;
}

.form-control:focus {
    border-color: #67b207;
    background-color: #fff;
    outline: none;
}

/* Estilos para el botón */
.btn-primary {
    background-color: #67b207;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #4a8908;
}


/*---------------------------------------------  Estilos adicionales para el formulario de crear y actualizar ---------------------------------- */

.button-container {
    display: flex;
    justify-content: center;
}

.btnMargin {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
}