<!-- paciente.component.html -->
<div class="wrapper_footerStuckToBottom">
  <div class="content_footerStuckToBottom">
    <div class="center-container paciente-basicInfo">
      <h1 class="pet-title" style="margin-top: 100px;">Pacientes</h1>

      <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input type="text" id="nameFilter" placeholder="Filtrar por nombre" (keyup)="filterTable()">
      </div>

      <table id="patientTable" class="styled-table" border="1">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Edad</th>
            <th>Peso</th>
            <th>Enfermedad</th>
            <th>Estado</th>
            <th>Dueño</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of pacienteLista">
            <td class="styled-table_pet-name paciente">{{ paciente.nombre }}</td>
            <td>{{ paciente.raza }}</td>
            <td>{{ paciente.edad }}</td>
            <td>{{ paciente.peso }}</td>
            <td>{{ paciente.enfermedad }}</td>
            <td>{{ paciente.estado }}</td>
            <td>
              <button type="button" class="action-link text-success" (click)="informacionCliente(paciente.cliente)"
                style="width: 250px; border: none; background-color: transparent;">
                <i class="fas fa-eye"></i><br>{{ paciente.cliente.nombre }}
              </button>
            </td>
            <td class="btnHorizontal">
              <div class="button-container">

                <!-- Si la vista es 'administrador', muestra estas acciones -->
                <ng-container *ngIf="vista === 'administrador'">
                  <a [routerLink]="['/administrador/pacientes/info', paciente.id]" class="action-link text-success"><i
                      class="fas fa-eye"></i> Visualizar</a>
                  <a [routerLink]="['/administrador/pacientes/modificar', paciente.id]" class="action-link"><i
                      class="fas fa-edit"></i> Modificar</a>
                  <a class="action-link text-danger" href="javascript:void(0);" (click)="eliminarPacientes(paciente)"><i
                      class="fas fa-trash-alt"></i> Eliminar</a>
                </ng-container>

                <!-- Si la vista es 'veterinario', muestra estas acciones -->
                <ng-container *ngIf="vista === 'veterinario'">
                  <a [routerLink]="['/veterinario/pacientes/info', paciente.id]" class="action-link text-success"><i
                      class="fas fa-eye"></i> Visualizar</a>
                  <a [routerLink]="['/veterinario/pacientes/modificar', paciente.id]" class="action-link"><i
                      class="fas fa-edit"></i> Modificar</a>
                  <a class="action-link text-danger" href="javascript:void(0);" (click)="eliminarPacientes(paciente)"><i
                      class="fas fa-trash-alt"></i> Eliminar</a>
                  <a [routerLink]="['/veterinario/pacientes/tratamiento', paciente.id]" class="action-link tratamientoLink"
                     style="color: #0db5e8;"><i class="fas fa-syringe" ></i> Tratamiento</a>
                  <a [routerLink]="['/veterinario/pacientes/historial', paciente.id]" class="action-link historialLink"
                    style="color: #9836ea;"><i class="fas fa-history" ></i> Historial</a>
                </ng-container>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
