<div class="menu__side" id="menu_side">

  <div class="name__page" id="logo" (click)="openCloseMenu()">
    <i> <img src="/assets/images/CatCareIcon.png" height="30rem" style="cursor: pointer"> </i>
    <h4><img src="/assets/images/CatCareLogo.png" height="30rem"></h4>
  </div>

  <div class="options__menu">

    <a href="" class="option">
      <div class="option">
        <i class="fas fa-home" title="Inicio Veterinarios"></i>
        <h4>Inicio Veterinarios</h4>
      </div>
    </a>

    <a href="">
      <div class="option">
        <i class="far fa-sticky-note" title="Informacion Veterinario"></i>
        <h4>Informacion Veterinario</h4>
      </div>
    </a>

    <a [routerLink]="['/administrador/veterinarios/registrar']">
      <div class="option">
        <i class="fas fa-user-plus" title="Registrar Veterinario"></i>
        <h4>Registrar Veterinario</h4>
      </div>
    </a>

  </div>

</div>
