<!-- paciente.component.html -->
<div class="wrapper_footerStuckToBottom">
  <div class="content_footerStuckToBottom">
    <div class="center-container paciente-basicInfo">
      <h1 class="pet-title" style="margin-top: 100px;">Mis Mascotas</h1>
      <!--
            <div class="search-bar">
              <i class="fas fa-search search-icon"></i>
              <input type="text" id="nameFilter" placeholder="Filtrar por nombre" (keyup)="filterTable()">
            </div>
      -->
      <table id="patientTable" class="styled-table" border="1">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Raza</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Enfermedad</th>
          <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let paciente of pacienteClienteLista">
          <td class="styled-table_pet-name pacienteDeCliente outputNombrePaciente">{{ paciente.nombre }}</td>
          <td class="outputRazaPaciente">{{ paciente.raza }}</td>
          <td class="outputEdadPaciente">{{ paciente.edad }}</td>
          <td class="outputPesoPaciente">{{ paciente.peso }}</td>
          <td class="outputEnfermedadPaciente">{{ paciente.enfermedad }}</td>
          <td class="outputEstadoPaciente">{{ paciente.estado }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
