<header class="header-barra-lateral">
  <div>
    <ul class="navegacion-indice">
      <li><a id="btnClientes" class="nav-link nav-link-ltr" routerLink="/veterinario/clientes" style="color: #000000">CLIENTES</a></li>
      <li><a id="btnPacientes" class="nav-link nav-link-ltr" routerLink="/veterinario/pacientes" style="color: #000000">PACIENTES</a></li>
      <li id="btnPerfil" class="dropdown"><a class="nav-link nav-link-ltr" href=javascript:void(0); style="color: #ce4204">PERFIL</a>
        <div class="dropdown-content">
          <a href="#">
            <i id="cerrarSesion" class="fas fa-sign-out-alt"></i>Cerrar Sesión
          </a>
          <a href=javascript:void(0);>
            <i class="fas fa-cog"></i> Configuración
          </a>
        </div>
      </li>
    </ul>
  </div>
</header>
