<div class="wrapper_footerStuckToBottom">
  <div class="content_footerStuckToBottom">
    <div class="center-container paciente-basicInfo">
      <h1>Registrar Paciente</h1>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="center-container">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input [(ngModel)]="paciente.nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
        </div>
        <div class="form-group">
          <label for="raza">Raza</label>
          <input [(ngModel)]="paciente.raza" name="raza" type="text" class="form-control" id="raza" placeholder="Raza" required>
        </div>
        <div class="form-group">
          <label for="edad">Edad</label>
          <input [(ngModel)]="paciente.edad" name="edad" type="number" class="form-control" id="edad" placeholder="Edad" required>
        </div>
        <div class="form-group">
          <label for="peso">Peso</label>
          <input [(ngModel)]="paciente.peso" name="peso" type="number" class="form-control" id="peso" placeholder="Peso" required>
        </div>
        <div class="form-group">
          <label for="enfermedad">Enfermedad</label>
          <input [(ngModel)]="paciente.enfermedad" name="enfermedad" type="text" class="form-control" id="enfermedad" placeholder="Enfermedad" required>
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <input [(ngModel)]="paciente.estado" name="estado" type="text" class="form-control" id="estado" placeholder="Estado" required>
        </div>
        <div class="form-group">
          <label for="foto">Foto (URL)</label>
          <input [(ngModel)]="paciente.foto" name="foto" type="text" class="form-control" id="foto" placeholder="https://img.whatsapp.com/foto-ejemplo.jpg" required>
        </div>
        <div class="form-group">
          <label for="cliente">Dueño (ID) </label>
          <input [(ngModel)]="paciente.cliente.id" name="cliente" type="text" class="form-control" id="cliente" placeholder="Dueño" required>
        </div>


        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>

