<header class="header-barra-lateral">

  <div>
    <ul class="navegacion-indice">
      <li><a class="nav-link nav-link-ltr" routerLink="/administrador/dashboard" style="color: #105bd0">DASHBOARD</a></li>
      <li><a class="nav-link nav-link-ltr" routerLink="/administrador/veterinarios" style="color: #000000">VETERINARIOS</a></li>
      <li><a class="nav-link nav-link-ltr" routerLink="/administrador/clientes" style="color: #000000">CLIENTES</a></li>
      <li><a class="nav-link nav-link-ltr" routerLink="/administrador/pacientes" style="color: #000000">PACIENTES</a></li>
      <li class="dropdown"><a class="nav-link nav-link-ltr" href="#" style="color: #ce4204">PERFIL</a>
        <div class="dropdown-content">
          <a href="#">
            <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
          </a>
          <a href="#">
            <i class="fas fa-cog"></i> Configuración
          </a>
        </div>
      </li>
    </ul>
  </div>
</header>
