<div class="wrapper_footerStuckToBottom">
  <div class="content_footerStuckToBottom">
    <div class="center-container paciente-basicInfo">
      <h1 class="pet-title" style="margin-top: 100px;">Tratamiento para: <span class="pet-name">{{paciente?.nombre}}</span></h1>
      <!-- Inicio del formulario -->
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="center-container">
        <!-- Campo para la Fecha de Inicio -->
        <div class="form-group">
          <label for="fechaDeInicio">Fecha de Inicio</label>
          <input [(ngModel)]="tratamiento.fechaDeInicio" name="fechaDeInicio" type="date" class="form-control" id="fechaDeInicio" required>
        </div>

        <!-- Lista desplegable de drogas disponibles -->
        <div class="form-group">
          <label for="droga">Droga</label>
          <select [(ngModel)]="selectedDroga" name="drogaId" id="droga" class="form-control" style="height: 50px;" required>
            <option class="opciones" *ngFor="let droga of drogasDisponibles" [value]="droga.id">{{droga.nombre}}</option>
          </select>
        </div>

        <!-- Botón de enviar -->
        <button type="submit" id="botonEnviar" class="btn btn-primary" [disabled]="!form.valid">Enviar</button>
      </form>
    </div>
  </div>
</div>
