<body>

<div class="center-container">
  <div class="container mt-4">
    <div class="row">

      <!-- Primera columna -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            Proposed Undeveloped Lots
          </div>
          <div class="card-body text-center">
            <span class="big-number">20,960</span>
            <div class="smaller-text">Developed Lots</div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            Subdivision Lots Lodged
          </div>
          <div class="card-body text-center">
            <span class="big-number">66%</span>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            Subdivision Lots Lodged
          </div>
          <div class="card-body text-center">
            <!-- Aquí puedes agregar más detalles -->
          </div>
        </div>
      </div>

      <!-- Segunda columna -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            Residential Land Activity
          </div>
          <div class="card-body">
            <!-- Aquí puedes agregar detalles usando Bootstrap 'list-group' o cualquier otro componente -->
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            Subdivision Lots Issued SOC
          </div>
          <div class="card-body text-center">
            <span class="big-number">23%</span>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            Subdivision Lots Issued SOC
          </div>
          <div class="card-body text-center">
            <!-- Aquí puedes agregar más detalles -->
          </div>
        </div>
      </div>

      <!-- Tercera columna -->
      <div class="col-md-3">
        <!-- Aquí puedes replicar las tarjetas/card de las columnas anteriores según tus necesidades -->
      </div>

      <!-- Cuarta columna -->
      <div class="col-md-3">
        <!-- Aquí puedes replicar las tarjetas/card de las columnas anteriores según tus necesidades -->
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>

</body>
