<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Estadísticas</title>
    <style>
        .card-header {
            font-size: 16px;
        }

        .card-body {
            height: 100px;
        }

        .big-number {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }
    </style>
</head>

<body>

    <div class="center-container" ng-app="myApp" ng-controller="myCtrl">
        <div class="container-fluid mt-4 card"
            style="margin: 50px; padding: 20px; background-color:rgb(245, 245, 245);">
            <h1 style="color: rgba(35, 89, 28, 0.82); margin-top: 20px;">Dashboard de Estadísticas</h1>

            <div class="column-container" style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 20px;">


            <!-- Primera fila -->
            <div class="column card" style="width: 33%;">

                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header">
                            Cantidad Total de Tratamientos
                        </div>
                        <div class="card-body text-center">
                            <span class="big-number" id="total-tratamientos">{{ totalTratamientos }}</span>
                            <p>En el Último Mes</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header d-flex flex-column">
                            Tratamientos por Tipo de Medicamento
                            <p style="margin-bottom: 0;">En el Último Mes</p>
                        </div>
                        <div class="card-body" id="tratamientos-por-medicamento"
                            style="height: 200px; overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Medicamento</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let entry of drogaCantidadMap | keyvalue">
                                        <td>{{ entry.key }}</td>
                                        <td>{{ entry.value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header">
                            Cantidad de Mascotas Activas en Tratamiento
                        </div>
                        <div class="card-body text-center">
                            <span class="big-number" id="mascotas-activas">{{ mascotasActivas }}</span>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Segunda fila -->
            <div class="column card" style="width: 33%;">


                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header">
                            Cantidad de Veterinarios Activos
                        </div>
                        <div class="card-body text-center">
                            <span class="big-number" id="veterinarios-activos">{{ veterinariosActivos }}</span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header">
                            Cantidad de Veterinarios Inactivos
                        </div>
                        <div class="card-body text-center">
                            <span class="big-number" id="veterinarios-inactivos">{{ veterinariosInactivos }}</span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header">
                            Cantidad de Mascotas Totales
                        </div>
                        <div class="card-body text-center">
                            <span class="big-number" id="mascotas-totales">{{ mascotasTotales }}</span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Tercera fila -->
            <div class="column card" style="width: 33%;">
                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header">
                            Ventas Totales de la Veterinaria
                        </div>
                        <div class="card-body text-center">
                            <span class="big-number" id="ventas-totales">$ {{ ventasTotales }} COP</span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header">
                            Ganancias Totales de la Veterinaria
                        </div>
                        <div class="card-body text-center">
                            <span class="big-number" id="ganancias-totales">$ {{ gananciasTotales }} COP</span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card cardHover">
                        <div class="card-header d-flex flex-column">
                            Top 3 tratamientos con más unidades vendidas
                        </div>
                        <div class="card-body" id="tratamientos-por-medicamento"
                            style="height: 200px; overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Medicamento</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let entry of top3MedicamentosMap | keyvalue">
                                        <td>{{ entry.key }}</td>
                                        <td>{{ entry.value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>

            </div>
        </div>
    </div>

    <!-- Agrega tus scripts para actualizar dinámicamente las estadísticas aquí -->

</body>

</html>