<div class="menu__side" id="menu_side">

  <div class="name__page" id="logo">
    <i> <img src="/assets/images/CatCareIcon.png" height="30rem" style="cursor: pointer"> </i>
    <h4><img src="/assets/images/CatCareLogo.png" height="30rem"></h4>
  </div>

  <div class="options__menu">

    <a href="" class="option">
      <div class="option">
        <i class="fas fa-home" title="Inicio Pacientes"></i>
        <h4>Inicio Pacientes</h4>
      </div>
    </a>

    <a href="">
      <div class="option">
        <i class="far fa-sticky-note" title="Informacion Paciente"></i>
        <h4>Informacion Paciente</h4>
      </div>
    </a>

    <a [routerLink]="['/administrador/pacientes/registrar']">
      <div class="option">
        <i class="fas fa-user-plus" title="Registrar Paciente"></i>
        <h4>Registrar Paciente</h4>
      </div>
    </a>


  </div>

</div>
