<div class="menu__side" id="menu_side">

  <div class="name__page" id="logo" (click)="openCloseMenu()">
    <i> <img src="/assets/images/CatCareIcon.png" height="30rem" style="cursor: pointer"> </i>
    <h4><img src="/assets/images/CatCareLogo.png" height="30rem"></h4>
  </div>

  <div class="options__menu">

    <a href=javascript:void(0); class="option">
      <div class="option">
        <i class="fas fa-home" title="Inicio Pacientes"></i>
        <h4>Inicio Pacientes</h4>
      </div>
    </a>

    <a href=javascript:void(0);>
      <div class="option">
        <i class="far fa-sticky-note" title="Informacion Paciente"></i>
        <h4>Informacion Paciente</h4>
      </div>
    </a>
    <ng-container *ngIf="vista === 'administrador'">
      <a [routerLink]="['/administrador/pacientes/registrar']">
        <div id="registrarPaciente" class="option"><i class="fas fa-user-plus" title="Registrar Paciente"></i><h4>Registrar Paciente</h4></div>
      </a>
    </ng-container>

    <!-- Si la vista es 'veterinario', muestra estas acciones -->
    <ng-container *ngIf="vista === 'veterinario'">
      <a [routerLink]="['/veterinario/pacientes/registrar']">
        <div id="registrarPaciente" class="option registrarPaciente"><i class="fas fa-user-plus" title="Registrar Paciente"></i><h4>Registrar Paciente</h4></div>
      </a>
    </ng-container>
  </div>

</div>
