<div *ngIf="vista === 'pacientes'">
  <app-barra-superior-administrador></app-barra-superior-administrador>
  <app-paciente></app-paciente>
  <app-footer></app-footer>
</div>

<div *ngIf="vista === 'clientes'">
  <app-barra-superior-administrador></app-barra-superior-administrador>
  <app-cliente></app-cliente>
  <app-footer></app-footer>
</div>

<div *ngIf="vista === 'veterinarios'">
  <app-barra-superior-administrador></app-barra-superior-administrador>
  <app-veterinario></app-veterinario>
  <app-footer></app-footer>
</div>

