<header class="header-barra-lateral">

  <div>
    <ul class="navegacion-indice">
      <li><a class="nav-link nav-link-ltr" href="javascript:void(0);" style="color: #000000">Mis Mascotas</a></li>
      <li class="dropdown">
        <a class="nav-link nav-link-ltr" href="javascript:void(0);" style="color: #ce4204">Hola Cliente!</a>
        <div class="dropdown-content">
          <a href="">
            <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
          </a>
          <a href="javascript:void(0);">
            <i class="fas fa-cog"></i> Configuración
          </a>
        </div>
      </li>
    </ul>
  </div>
</header>

