<!-- paciente.component.html -->
<div class="wrapper_footerStuckToBottom">
  <div class="content_footerStuckToBottom">
    <div class="center-container paciente-basicInfo">
      <h1 class="pet-title" style="margin-top: 100px;">Clientes</h1>

      <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input type="text" id="nameFilter" placeholder="Filtrar por cédula" (keyup)="filterTable()">
      </div>

      <table id="patientTable" class="styled-table" border="1">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Cedula</th>
          <th>Correo</th>
          <th>Celular</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cliente of clienteLista">
          <td class="styled-table_pet-name cliente">{{ cliente.nombre }}</td>
          <td>{{ cliente.cedula }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.celular }}</td>
          <td class="btnHorizontal">
            <div class="button-container">
              <!-- Si la vista es 'administrador', muestra estas acciones -->
              <ng-container *ngIf="vista === 'administrador'">
                <a [routerLink]="['/administrador/clientes/info', cliente.id]" class="action-link text-success"><i
                  class="fas fa-eye"></i> Visualizar</a>
                <a [routerLink]="['/administrador/clientes/modificar', cliente.id]" class="action-link"><i
                  class="fas fa-edit"></i> Modificar</a>
                <a class="action-link text-danger" href="javascript:void(0);" (click)="eliminarClientes(cliente)"><i
                  class="fas fa-trash-alt"></i> Eliminar</a>
              </ng-container>

              <!-- Si la vista es 'veterinario', muestra estas acciones -->
              <ng-container *ngIf="vista === 'veterinario'">
                <a [routerLink]="['/veterinario/clientes/info', cliente.id]" class="action-link text-success"><i
                  class="fas fa-eye"></i> Visualizar</a>
                <a [routerLink]="['/veterinario/clientes/modificar', cliente.id]" class="action-link"><i
                  class="fas fa-edit"></i> Modificar</a>
                <a class="action-link text-danger" href="javascript:void(0);" (click)="eliminarClientes(cliente)"><i
                  class="fas fa-trash-alt"></i> Eliminar</a>
              </ng-container>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

