<footer class="footer">
  <div class="footer-seccion">
    <div class="seccion-vertical">
      <div class="footer-subsecciones">
        <h4>Compañía</h4>
        <ul>
          <li><a href=javascript:void(0);>Acerca de Nosotros</a></li>
          <li><a href=javascript:void(0);>Nuestros Servicios</a></li>
          <li><a href=javascript:void(0);>Política de Privacidad</a></li>
          <li><a href=javascript:void(0);>Programa de Suscriptores</a></li>
        </ul>
      </div>
      <div class="footer-subsecciones">
        <h4>Obtener ayuda</h4>
        <ul>
          <li><a href=javascript:void(0);>Preguntas frecuentes</a></li>
          <li><a href=javascript:void(0);>PQR's</a></li>
          <li><a href=javascript:void(0);>Contáctenos</a></li>
          <li><a href=javascript:void(0);>Proteccion de Datos</a></li>
        </ul>
      </div>
      <div class="footer-subsecciones">
        <h4>Productos</h4>
        <ul>
          <li><a href=javascript:void(0);>Miembros plus</a></li>
          <li><a href=javascript:void(0);>Cobertura</a></li>
          <li><a href=javascript:void(0);>Opciones de pago</a></li>
        </ul>
      </div>
      <div class="footer-subsecciones">
        <h4>Síguenos</h4>
        <div class="redes-sociales">
          <a href=javascript:void(0);><i class="fab fa-facebook-f"></i></a>
          <a href=javascript:void(0);><i class="fab fa-twitter"></i></a>
          <a href=javascript:void(0);><i class="fab fa-instagram"></i></a>
          <a href=javascript:void(0);><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
