<footer class="footer">
  <div class="footer-seccion">
    <div class="seccion-vertical">
      <div class="footer-subsecciones">
        <h4>Compañía</h4>
        <ul>
          <li><a href="#">Acerca de Nosotros</a></li>
          <li><a href="#">Nuestros Servicios</a></li>
          <li><a href="#">Política de Privacidad</a></li>
          <li><a href="#">Programa de Suscriptores</a></li>
        </ul>
      </div>
      <div class="footer-subsecciones">
        <h4>Obtener ayuda</h4>
        <ul>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">PQR's</a></li>
          <li><a href="#">Contáctenos</a></li>
          <li><a href="#">Proteccion de Datos</a></li>
        </ul>
      </div>
      <div class="footer-subsecciones">
        <h4>Productos</h4>
        <ul>
          <li><a href="#">Miembros plus</a></li>
          <li><a href="#">Cobertura</a></li>
          <li><a href="#">Opciones de pago</a></li>
        </ul>
      </div>
      <div class="footer-subsecciones">
        <h4>Síguenos</h4>
        <div class="redes-sociales">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
